body {
	font-size: 12px;
}


#jobspec-url-list {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}


#dashboard-stats-container {
    position: relative;
}

#dashboard-stats-current {
    float: left;
}

#dashboard-stats-average {
    float: left;
}

#dashboard-buttons {
	clear: both;
}
