#add-url-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#add-url-panel {
	width: 100%;
	padding: 0 0 0 0;
}

#add-url-input {
	width: 89%;
}
#add-url-button {
	width: 5%;
}
#add-url-clear-button {
	width: 5%;
}

#add-url-options {
	width: 50%;
	text-align: left;
}

#control-button-panel {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


div.container {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}

#settings {
	float: left;
	width: 40%;
	display: inline;
	left: 0;
	margin-left: auto;
}

#urlListDiv {
	float: left;
	width: 40%;
	display: inline;
	right: 0;
	margin-right: auto;
}

#urlList {
	width: 100%;
}
#urlList th {
	text-align: left;
}

#resultsGraph {
	clear: both;
}
#responseTimeGraph {
	clear: both;
}

